/*=-----------------------------------------=*/
/*= Icons for certain link types: by target =*/
/*=-----------------------------------------=*/

/* TEXTUAL PER-DOMAIN LINK ICONS: */
/* Common style */
.md-content a[href*="17th-angel.tumblr.com"]::after,
.md-content a[href*="andrewgelman.com"]::after,
.md-content a[href*="animenewsnetwork.com"]::after,
.md-content a[href*="arstechnica.com"]::after,
.md-content a[href*="arxiv.org"]::after,
.md-content a[href*="bbc.com"]::after,
.md-content a[href*="bbc.co.uk"]::after,
.md-content a[href*="www.cdc.gov"]::after,
.md-content a[href*="www.vox.com"]::after,
.md-content a[href*="www.vanityfair.com"]::after,
.md-content a[href*="www.motherjones.com"]::after,
.md-content a[href*="www.edge.org"]::after,
.md-content a[href*="bitcointalk.org"]::after,
.md-content a[href*="bitcoin.t"]::after,
.md-content a[href*="bloomberg.com"]::after,
.md-content a[href*="bmj.com"]::after,
.md-content a[href*="economist.com"]::after,
.md-content a[href*="evageeks.org"]::after,
.md-content a[href*="evamonkey.com"]::after,
.md-content a[href*="evaotaku.com"]::after,
.md-content a[href*="www.fanfiction.net"]::after,
.md-content a[href*="fda.gov"]::after,
.md-content a[href*="filfre.net"]::after,
.md-content a[href*="gainax.co.jp"]::after,
.md-content a[href*="goodreads.com"]::after,
.md-content a[href*="haskell.org"]::after,
.md-content a[href*="harney.com"]::after,
.md-content a[href*="justice.gov"]::after,
.md-content a[href*="khara.co.jp"]::after,
.md-content a[href*="kk.org"]::after,
.md-content a[href*="lesswrong.com"]::after,
.md-content a[href*="longbets.org"]::after,
.md-content a[href*="longnow.org"]::after,
.md-content a[href*="marginalrevolution.com"]::after,
.md-content a[href*="medium.com"]::after,
.md-content a[href*="myanimelist.net"]::after,
.md-content a[href*="nature.com"]::after,
.md-content a[href*="onegeek.org"]::after,
.md-content a[href*="overcomingbias.com"]::after,
.md-content a[href*="pnas.org"]::after,
.md-content a[href*="poniesatdawn.bandcamp.com"]::after,
.md-content a[href*="predictionbook.com"]::after,
.md-content a[href*="r-project.org"]::after,
.md-content a[href*="rosettaproject.org"]::after,
.md-content a[href*="rstudio.com"]::after,
.md-content a[href*="salon.com"]::after,
.md-content a[href*="sciencemag.org"]::after,
.md-content a[href*="sciencedirect.com"]::after,
.md-content a[href*="scholars-stage.blogspot.com"]::after,
.md-content a[href*="slate.com"]::after,
.md-content a[href*="slatestarcodex"]::after,
.md-content a[href*="statmodeling.stat.columbia.edu"]::after,
.md-content a[href*="t.umblr.com"]::after,
.md-content a[href*="technologyreview.com"]::after,
.md-content a[href*="theatlantic.com"]::after,
.md-content a[href*="theinterval.org"]::after,
.md-content a[href*="theparisreview.org"]::after,
.md-content a[href*="tinyletter.com"]::after,
.md-content a[href*="www.mail-archive.com"]::after,
.md-content a[href*="groups.google.com"]::after,
.md-content a[href*="tumblr.com"]::after,
.md-content a[href*="tvtropes.org"]::after,
.md-content a[href*="urth.net"]::after,
.md-content a[href*="www.nber.org"]::after,
.md-content a[href*="mlp.fandom.com"]::after,
.md-content a[href*="www.wsj.com"]::after,
.md-content a[href*="www.google.com"]::after,
.md-content a[href*="wiley.com"]::after,
.md-content a[href*="yunnansourcing.com"]::after,
.md-content a[href*="yvain"]::after,
.md-content a[href*="unsongbook.com"]::after,
.md-content a[href*="groups.yahoo.com"]::after,
.md-content a[href*="publicdomainreview.org"]::after,
.md-content a[href*="meltingasphalt.com"]::after,
.md-content a[href*="reddit.com"]::after {
    font-size: 0.8em;
    font-weight: 600;
    margin: 0 0 0 2px;
    vertical-align: baseline;
    position: relative;
    bottom: 0.2em;
    opacity: 0.6;
}
/* MR: cheaper to abuse Unicode */
.md-content a[href*="omegakid1902.github.io"]::after {
    content: "]]"; }
	
.md-content a[href*="omegakid1902.github.io"]::before {
    content: "[["; }

/* GoodReads: logo doesn't make sense as a grayscale */
.md-content a[href*="goodreads.com"]::after {
    content: "GR"; }

/* Elsevier/Sciencedirect.com: also an 'E' */
.md-content a[href*="sciencedirect.com"]::after {
    content: "E";
    font-family: "Lucida Sans Unicode", "Source Sans Pro", Helvetica, "Trebuchet MS", sans-serif; }

.md-content a[href*='biorxiv.org']::after {
    background-image: url("/blue-book/assets/images/chi-dna.svg");
}
.md-content a[href*='biorxiv.org']:hover::after {
    opacity: 0.3;
}
.md-content a[href*='biorxiv.org']::after {
    content: "";
    display: inline-block;
    position: static;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 1em;
    width: 0.9em;
    margin: 0 0 0 2px;
    opacity: 0.60;
}
